In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("final_data.csv")

In [6]:
df["Description"] = df["Selling Price"].astype(str) + " " + df["Description"]

In [9]:
df.head()

,InvoiceNo,Description,Size,Quantity,UnitPrice,Selling Price,PaymentMode,PaymentDate,PaymentTime
0,1,560 Dark Green Half Sleeves Polo Mens T-Shirt,XL,1,400,560,Online,2025-03-25,12:31
1,1,1200 Blue Faded Mens Jeans,30,1,900,1200,Online,2025-03-25,12:31
2,2,140 Gamcha Bath Towel,90,1,140,140,Cash,2025-03-25,15:30
3,3,135 Macho V Cut Mens Underwear,90,1,125,135,Online,2025-03-25,16:13
4,4,180 Rectangle Mosquito Net,6x6,1,150,180,Cash,2025-03-25,13:00

In [10]:
df = df.drop(columns=["Selling Price"])

In [14]:
df.to_csv("store_data.csv", index=False)